<div class="marketing__nav-dropdown" data-dropdown-target="dropdown">
	<div class="marketing__nav-dropdown-content">
		<header class="marketing__nav-dropdown-header">
			<h4 class="marketing__nav-dropdown-heading">Resources</h4>
			<p>Transformative collaboration for all the work you do</p>
		</header>

		<ul class="marketing__nav-dropdown-links">
			<li class="marketing__nav-dropdown-link">
				<a href="#">Blog</a>
				<p>Latest news and insights from industry experts</p>
			</li>

			<li class="marketing__nav-dropdown-link">
				<a href="#">Guides and Resources</a>
				<p>Tips and recommendations for better collaboration</p>
			</li>

			<li class="marketing__nav-dropdown-link">
				<a href="#">Customer Stories</a>
				<p>Explore how Freehand is transforming org-wide collaboration</p>
			</li>

			<li class="marketing__nav-dropdown-link">
				<a href="#">Help and Support</a>
				<p>Find answers to questions about new features, integrations, etc.</p>
			</li>

			<li class="marketing__nav-dropdown-link">
				<a href="#">About</a>
			</li>
		</ul>

		<section class="marketing__nav-dropdown-whats-new">
			<h4 class="marketing__nav-dropdown-heading">What's new</h4>

			<div class="marketing__nav-dropdown-news-container">
				<div class="marketing__nav-dropdown-news-item">
					<%= link_to "#", class: "marketing__nav-dropdown-image-link" do %>
						<%= image_tag "freehand_ai.webp", width: 220, height: 125, class: "marketing__nav-dropdown-image", loading: "lazy", alt: "Freehand AI" %>

						<span class="marketing__nav-dropdown-image-text">Freehand AI: The next step forward for the Intelligent Canvas</span>
					<% end %>

					<p class="marketing__attribution">By Kosta Bolgov</p>
				</div>
			</div>
		</section>
	</div>
</div>
