<nav class="flex flex--align-center flex--justify-between">
	<div>
		<%= svg_tag "logo", class: "icon icon--lg icon--black" %>
	</div>

	<div>
		<%= link_to "Sign in", sign_in_path %>
		<%= link_to "Try for free", sign_up_path, class: "button button--md button--blue" %>
	</div>
</nav>
