<nav class="flex flex--align-center flex--justify-between">
	<div>
		<%= svg_tag "logo", class: "icon icon--lg icon--black" %>
	</div>

	<div>
		<span class="price-tag">All Features &#8226; $7/month</span>
		<%= link_to "Sign in", "#" %>
		<%= link_to "Try free for 30 days", "#", class: "button button--md button--blue" %>
	</div>
</nav>
