<h1 class="marketing__heading">
	The refreshingly <i class="marketing__heading--squiggly-underline">simple</i> running journal.
</h1>

<h3 class="marketing__subheading">
	Join thousands of runners who plan, log, and optimize their training with RunJotter
</h3>
