@keyframes introLoad {
  0% { opacity: 0; transform: translateY(16px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideFromRight {
  100% { right: 0; }
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%) }
}

/*MARKTODO: from/to for all?*/
@keyframes slide {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}
