$color-blue: #0071e3;	      // (0, 113, 227)
$color-black: #1d1d1f;      // (29, 29, 31)
$color-gray: #979797;	      // (151,151,151)
$color-gray-light: #f5f5f7; // (238,238,238)
$color-gray-dark: #666666;  // (102,102,102)
$color-white: #fff;         // (255, 255, 255)
