$color-primary: #326771;
$color-secondary: #9D8DF1;
$color-white: #fff;
$color-gray: #808080;
$color-black: #000;
$color-red: #ff0000;
$color-yellow: #FFFF00;
$color-green: #00FF00;

$color-primary-light: #99b3b8;
$color-primary-dark: #1e3e44;

$color-secondary-light: #cec6f8;
$color-secondary-dark: #4f4779;

$color-gray-light: #c0c0c0;
$color-gray-dark: #404040;

$color-red-light: #ff8080;
$color-red-dark: #800000;

$color-yellow-light: #ffff80;
$color-yellow-dark: #808000;

$color-green-light: #80ff80;
$color-green-dark: #008000;
