/*------------------------ Nav ------------------------*/

.marketing__nav {
	height: var(--marketing-nav-height);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 5rem;
	background-color: var(--color-white);
	z-index: 9;
	max-width: 1800px;
	margin: .5rem auto 0 auto;
}

.marketing__nav-logo-link {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.marketing__nav-logo-box {
	width: 3rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.marketing__nav-logo {
	width: 100%;
}

.marketing__nav-logo-text {
	margin-left: .7rem;
	font-size: 1.2rem;
	font-weight: 600;
	color: var(--color-text);
}

.marketing__nav-links {
	flex: 1;
	text-align: left;
	margin-left: 5rem;
	display: flex;
	align-items: center;
}

.marketing__nav-link {
	text-decoration-color: transparent;
	color: var(--color-black);
	font-size: 1rem;
	font-weight: 500;
	display: flex;
	align-items: center;
	transition: all .3s;
	margin-right: 3rem;
}

.marketing__nav-link:hover {
	text-decoration-color: currentColor;
	text-underline-offset: .2rem;
	position: relative;
}

.marketing__nav-link-expand-icon {
	width: 1.2rem;
	height: 1.2rem;
	margin-left: .2rem;
	margin-top: .15rem;
}

.marketing__nav-dropdown {
	position: absolute;
	left: 0;
	top: var(--marketing-nav-height);
  background-color: rgba(0, 0, 0, 0.15);
  visibility: hidden;
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 0.3s cubic-bezier(0.16, 1, 0.5, 1);
	width: 100vw;
	height: 300vh;
	z-index: 9;
}

.marketing__nav-dropdown-content{
	background-color: var(--color-white);
	margin: 0 10rem;
	display: flex;
	padding: 2rem;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.marketing__nav-dropdown-header {
	flex-basis: 10%;
	margin-right: 2rem;
}

.marketing__nav-dropdown-heading {
	font-size: 1.3rem;
	font-weight: 500;
	margin: 0;
}

.marketing__nav-dropdown-links {
	margin: 0;
	margin-bottom: 2rem;
	padding-right: 2rem;
	list-style: none;
	flex-basis: 25%;
	border-right: 1px solid var(--color-border-dark);
}

.marketing__nav-dropdown-link {
	font-size: .9rem;

	a {
		font-size: 1rem;
		font-weight: 600;
		text-decoration: none;
		color: var(--color-text);
	}

	a:hover {
		text-decoration: underline;
	}

	p {
		margin: .2rem 0 0 0;
	}
}
.marketing__nav-dropdown-link:not(:last-child) {
	margin-bottom: 1rem;
}

.marketing__nav-dropdown-whats-new {
	margin: 0;
	padding-left: 3rem;
	flex: 1;
}

.marketing__nav-dropdown-news-container {
	margin-top: 1rem;
	display: grid;
	grid-template-columns: repeat(3, 30%);
}

.marketing__nav-dropdown-news-item {
	display: flex;
	flex-direction: column;

	a {
		display: flex;
		flex-direction: column;
		text-decoration: none;
		color: var(--color-text);
		font-weight: 500;
		font-size: 1rem;
	}
}

.marketing__nav-dropdown-image-text {
	margin-top: .7rem;
	font-size: .9rem;
}

.marketing__attribution {
	margin-top: .3rem;
	font-size: .7rem;
	color: var(--color-text-subdued);
	text-transform: uppercase;
}

.marketing__signup-button {
	text-decoration: none;
	padding: .7rem 1.8rem;
	background-color: var(--color-primary);
	color: var(--color-white);
	font-size: 1.1rem;
	font-weight: 600;
	border-radius: 3px;
	transition: background-color .3s;
}
.marketing__signup-button:hover {
	background-color: var(--color-primary-600);
}

@media only screen and (max-width: 1000px) {
	.marketing__nav {
		padding: 1rem 2rem;
	}

	.marketing__nav-links {
		display: none;
	}
}

/*------------------------ Header ------------------------*/

.marketing__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.marketing__heading {
	margin-top: 4rem;
	font-size: 3rem;
	font-weight: 600;
	max-width: 35ch;
	padding: 0 2rem;
}
.marketing__heading--squiggly-underline {
	position: relative;
}
.marketing__heading--squiggly-underline:after {
	content: "";
  background: url("squiggly_underline.svg");
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  height: 24px;
  background-size: 100% 100%;
}

.marketing__subheading {
	margin-top: 3.5rem;
	font-size: 1.4rem;
	font-weight: 400;
	max-width: 40ch;
	line-height: 1.4;
	padding: 0 2rem;
}

@media only screen and (max-width: 1000px) {
	.marketing__heading {
		font-size: 2.5rem;
	}

	.marketing__subheading {
		font-size: 1.2rem;
		margin-top: 2.5rem;
	}
}

@media only screen and (max-width: 850px) {
	.marketing__heading {
		max-width: 19ch;
	}

	.marketing__heading--squiggly-underline:after {
		height: 18px;
	}
}

@media only screen and (max-width: 500px) {
	.marketing__heading {
		font-size: 2.2rem;
		max-width: 18ch;
		padding: 0 1rem;
	}

	.marketing__subheading {
		font-size: 1rem;
	}
}


/*------------------------ Sections ------------------------*/

.marketing__section {
	position: relative;
	padding: 0 2rem;
}

.marketing__section-content {
	max-width: 1300px;
	margin: 0 auto;
}

.marketing__section-heading {
	font-size: 1.8rem;
	font-weight: 500;
	margin: 1rem 0;
}

.marketing__section--demos {
	width: 100%;
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.marketing__section--demos:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 100px);
	background: linear-gradient(180deg, #ECEDFF 0%, #FFFFFF 110.81%);
	opacity: 1;
	transform: translateY(150px);
}

.marketing__section--articles {
	margin-top: 6rem;
}

.marketing__section--connections {
	margin-top: 5rem;
}

.marketing__section--testimonials {
	margin-top: 4rem;
	padding-top: 3rem;
}
.marketing__section--testimonials:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 10vw);
	background: linear-gradient(180deg, #ECEDFF 0%, #FFFFFF 110.81%);
	opacity: 1;
	z-index: -1;
	border-radius: 10px;
}

@media only screen and (max-width: 900px) {
	.marketing__section-content {
		text-align: center;
	}
}

/*------------------------ Demos Section ------------------------*/

.marketing__demo-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.marketing__demo-buttons-label {
	margin-right: 2rem;
	text-transform: uppercase;
	color: var(--color-gray-50);
	font-size: 1rem;
	font-weight: 600;
}

.marketing__demo-button {
	text-decoration: none;
	font-weight: 600;
	color: var(--color-gray-50);
	border: 1px solid var(--color-gray-30);
	padding: .4rem 1rem;
	border-radius: 100px;
}
.marketing__demo-button:not(:last-of-type) {
	margin-right: 1rem;
}

.marketing__demo-button--active {
	color: var(--color-primary-300);
	border: 2px solid currentColor;
}

.marketing__demo-container {
	position: relative;
	background-color: #fff;
	margin: 1.5rem auto auto;
	width: 70vw;
	height: 90vh;
	overflow: hidden;
	box-shadow: 0px 0px 16px rgba(58, 59, 85, 0.05), 0px 10px 60px rgba(35, 37, 87, 0.1);
	border-radius: 8px;
	animation: introLoad 1s cubic-bezier(0, 1.03, 0.58, 1);
	animation-delay: .5s;
	animation-fill-mode: both;
}

.marketing__demo {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: slideFromRight .3s forwards;
	position: absolute;
	right: -100%;
}

@media only screen and (max-width: 1500px) {
	.marketing__demo-container {
		width: 80vw;
	}
}

@media only screen and (max-width: 1300px) {
	.marketing__demo-container {
		width: 90vw;
	}
}

@media only screen and (max-width: 800px) {
	.marketing__demo-buttons-label {
		display: none;
	}
}


/*------------------------ Articles Section ------------------------*/

.marketing__articles {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.marketing__article {
	padding: 1rem 0;
}

.marketing__article-link {
	text-decoration: none;
	color: var(--color-text);
	font-weight: 500;
}

.marketing__article-image-box {
	width: 400px;
	height: 225px;
	border-radius: 10px;
	overflow: hidden;
}

.marketing__article-image {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	object-fit: cover;
  transition: all .3s ease;
}
.marketing__article-image:hover {
	transform: scale(1.1);
}

.marketing__article-title {
	margin: .5rem 0 0;
	line-height: 1.2;
}

@media only screen and (max-width: 860px) {
	.marketing__article {
		display: flex;
		justify-content: center;
	}
}
/*------------------------ Connections Section ------------------------*/

.marketing__connections {
	position: relative;
	overflow: hidden;
	padding: 60px 0;
	border-top: 1px solid var(--color-gray-10);
	border-bottom: 1px solid var(--color-gray-10);
	white-space: nowrap;
}

.marketing__connections:hover .marketing__connections-slide {
	animation-play-state: paused;
}

.marketing__connections-slide {
	display: inline-block;
	animation: 35s slide infinite linear;
}

.marketing__connections-slide img {
	height: 50px;
	margin: 0 40px;
	filter: invert(56%) sepia(0%) saturate(193%) hue-rotate(188deg) brightness(90%) contrast(89%);
}


/*------------------------ Testimonials Section ------------------------*/

.marketing__testimonials-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-gap: 2rem;
}

.marketing__testimonial-box {
	background-color: var(--color-white);
	box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.16);
	border-radius: 8px;
	padding: 32px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.marketing__testimonial {
	font-size: 1rem;
	line-height: 1.5;
	padding: 0;
	margin: 0 0 20px 0;
	color: var(--color-gray-70);
	text-align: left;
}
.marketing__testimonial:before {
	content: "“";
	margin-left: -8px;
}
.marketing__testimonial:after {
	content: "“";
	margin-left: -3px;
}

.marketing__testimonial-attribution {
	display: flex;
	align-items: center;
	text-align: left;
}

.marketing__testimonial-avatar-box {
	width: 50px;
	height: 50px;
	display: block;
	border-radius: 10000px;
	overflow: hidden;
	margin-right: .5rem;
}

.marketing__testimonial-avatar {
	width: 100%;
}

.marketing__testimonial-person-name {
	font-weight: 500;
	font-size: 1rem;
	color: var(--color-gray-70);
}

.marketing__testimonial-person-title {
	font-weight: 500;
	font-size: .8rem;
	color: var(--color-gray-70);
	margin-top: .1rem;
}

@media only screen and (max-width: 900px) {
	.marketing__testimonial-box {
		max-width: 500px;
		margin: 0 auto;
	}
}

/*------------------------ Outro Section ------------------------*/

.marketing__section--outro {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 5rem;
}

.marketing__outro {
	font-size: 2.4rem;
	font-weight: 600;
	max-width: 30ch;
	line-height: 1.2;
	padding: 0 2rem;
}

@media only screen and (max-width: 1000px) {
	.marketing__outro {
		font-size: 2rem;
	}
}

@media only screen and (max-width: 700px) {
	.marketing__outro {
		font-size: 1.7rem;
	}
}

@media only screen and (max-width: 500px) {
	.marketing__outro {
		font-size: 1.5rem;
		padding: 0 1rem;
	}
}

/*------------------------ Footer ------------------------*/

.marketing__footer {
	margin-top: 8rem;
	border-top: 1px solid var(--color-gray-10);
}

.marketing__footer-content {
	max-width: 1600px;
	margin: 0 auto;
	padding: 3rem 10rem 0 10rem;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.marketing__footer-logo-box {
	width: 5rem;
	height: 5rem;
}

.marketing__footer-logo {
	width: 100%;
}

.marketing__footer-links-container {
	display: flex;
	flex-direction: column;
}

.marketing__footer-links-label {
	margin: 0;
	font-size: 1rem;
	font-weight: 600;
}

.marketing__footer-link {
	margin-top: 1rem;
	color: var(--color-text);
	text-decoration: none;
}
.marketing__footer-link:hover {
	text-decoration: underline;
}

.marketing__footer-copyright {
	margin-top: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	grid-row: 2 / 2;
	grid-column: 1 / -1;
	align-items: center;
	font-size: .9rem;
}

.marketing__footer-terms-link {
	color: var(--color-text);
	text-decoration: none;
	margin-left: 3rem;
}
.marketing__footer-terms-link:hover {
	text-decoration: underline;
}

@media only screen and (max-width: 1300px) {
	.marketing__footer-content {
		padding: 3rem 5rem 0 5rem;
	}
}

@media only screen and (max-width: 1100px) {
	.marketing__footer-content {
		padding: 3rem 2rem 0 2rem;
	}
}

@media only screen and (max-width: 900px) {
	.marketing__footer-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.marketing__footer-links-container {
		display: none;
	}

	.marketing__footer-copyright {
		flex-direction: column;
		margin: 0 0 3rem 0;
	}

	.marketing__footer-terms-link {
		margin-left: 0;
		margin-top: 1rem;
	}
}
