.popup__arrow,
.popup__arrow::before {
  position: absolute;
  width: 15px;
  height: 15px;
  background: inherit;
  z-index: -1;
}

.popup__arrow--primary {
  background: var(--color-primary);
}

.popup__arrow {
  visibility: hidden;
}

.popup__arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

.popup-content {
  z-index: 11;
  transition: width 3s;
}

.popup-content[data-popper-placement^='top'] > .popup__arrow {
  bottom: -4px;
}

.popup-content[data-popper-placement^='bottom'] > .popup__arrow {
  top: -4px;
}

.popup-content[data-popper-placement^='left'] > .popup__arrow {
  right: -4px;
}

.popup-content[data-popper-placement^='right'] > .popup__arrow {
  left: -4px;
}

.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(232, 232, 232, .2);
  z-index: 10;
}
